

<div class="row row-cols-xs-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2">
    <div *ngFor="let movie of movies" class="col">
        <div class="card movie-card animated fadeIn fast">
            <img class="img-poster" [routerLink]="['/movie', movie.id]" [src]=" movie?.poster_path | poster " alt="{{movie.title}}" loading="lazy">
            <div class="card-body">
                <p class="movie-title">{{movie.title}}</p>
                <div class="row">
                    <div class="col-9">
                        <star-rating [value]=" movie.vote_average | number:'1.1-1' " totalstars="10" checkedcolor="gold" uncheckedcolor="white" size="14px" readonly="false"></star-rating>
                    </div>
                    <div class="col-3">{{movie.vote_average | number:'1.1' }}</div>
                </div>
            </div>
        </div>
    </div>
</div>